:root {
  --color-1: #0ed6eb;
  --color-2: #f6c403;
  --color-3: #fc7920;
  --color-4: #db7f1e;
  --color-5: #a28057;
  --color-6: #f9e7d4;
  --color-7: #dbcdbc;
}

input {
  margin: 3px 3px 3px 3px;
  background-color: var(--color-6);
  border-color: var(--color-4);
}

#button {
  background-color: var(--color-1);
  color: var(--color-6);
  border-color: var(--color-2);
}

div {
  float: right;
  position: relative;
  top: 0;
  height: 12rem;
  width: 12rem;
  padding: 0.4em;
  margin: 0 3rem 0 0;
  display: block;
  background-color: var(--color-2);
}

#box label {
  margin-top: .5em;
	display: inline-block;
	width: 10em;
}

legend span {
  color: var(--color-4);
  font-size: 22px;
  background-color: var(--color-6);
}

fieldset {
  width: 50%;
  border-color: var(--color-4);
  padding: 1em;
}

#quantity {
  margin-top: 0.5em;
  width: 10em;
}

#product {
  width: 12em;
  border-color: var(--color-1);
  color: var(--color-2);
  background-color: var(--color-6);
}

img {
  width: 100%;
  height: 100%;
}
